/* custom css here */

body {
    background-color: #e6e6e6;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
code,
kbd,
pre,
samp {
  font-family: 'Roboto', Menlo, Monaco, Consolas, "Courier New", monospace;
}
body label {
    letter-spacing: 0.1px;
}

label {
    margin: 0;
    position: relative;
}

input[type="radio"], input[type="checkbox"] {
    margin: -2px 3px 0 0;
    vertical-align: middle;
}

.input-container input[type="radio"], .input-container  input[type="checkbox"] {
    margin-top: 11px;
    margin-left: 1px;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#accountDetails .modal-header {
    border-bottom: 1px solid #e5e5e5;
    background-color: #F8F8F8;
}

.submitForm.modal-footer {
    border-top: 1px solid #e5e5e5;
    background-color: #F8F8F8;
    padding: 15px;
}

#accountDetails .modal-body {
    padding-top: 0;
    overflow-x: hidden;
    padding-bottom: 75px;
}

.modal.fade.in {
    display: block;
    overflow-y: scroll;
}

.submitForm.modal-footer label {
    padding-right: 20px;
    padding-top: 8px;
    font-weight: normal;
}

.col-offset {
    margin-left: 21.7%;
}
.col-md-3 select {
    width: 125px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    opacity: 0.5;
}

.form-group {
    margin-bottom: 0;
    position: relative;
    margin-top: 2px;
}

.input-container {
    padding-left: 5px;
    padding-right: 36px;
}

.form-control {
    display: inline-block;
    margin-bottom: 9px;
    height: 32px;
    width: 86%;
    padding-right: 28px;
}

.btn-primary, .btn-default {
    padding: 7px 19px 8px 20px;
}

.phone1 select, .phone1 input, .phone2 select, .phone2 input,.phone3 select, .phone3 input,.phone4 select, .phone4 input {
    margin-bottom: 4px;
}

.phone1 input, .phone2 input, .phone3 input, .phone4 input {
    width: 69%;
}

#enterprise .control-label {
    padding-right: 10px;
    padding-top: 8px;
    font-weight: normal;
}

#enterprise .help-block {
    display: block;
    position: absolute;
    background-color: #D0021B;
    color: #fff;
    width: 26%;
    left: 88%;
    padding: 10px 15px;
    top: -13px;
    font-size: 11px;
}

#postalCodeBilling-error.help-block, #postalCodeShipping-error.help-block, #postalCodeService-error.help-block, #postalCodePayment-error.help-block {
    display: block;
    position: relative;
    background-color: #D0021B;
    color: #fff;
    width: 40%;
    left: -3.5%;
    padding: 10px 15px;
    top: 6px;
    font-size: 11px;
}
#postalCodeBilling-error.help-block:before, #postalCodeShipping-error.help-block:before, #postalCodeService-error.help-block:before, #postalCodePayment-error.help-block:before {
    top: 12px;
}

.postal-container {
    width: 202px;
}

#LastName {
    margin-top: -1px;
}

.checkRow {
    margin: 0 0 15px 0;
}

.icon-container:after {
    position: absolute;
    display: block;
    content: '';
    background: url('../assets/error_icon.png') no-repeat;
    height: 20px;
    width: 20px;
    right: 96px;
    top: 8px;
}

.account-name-container {
    position: absolute;
    display: block;
    content: '';
    background: url('../assets/info.png') no-repeat;
    height: 20px;
    width: 20px;
    right: 65px;
    top: 8px;
    opacity: 0.7;
}

.account-name-container:hover {
    opacity: 1;
}

.account-name-container+.tooltip {
    width: 160px;
    font-size: 12px;
}
.account-name-container+.tooltip .tooltip-inner {
    border: 1px solid #aaa;
    background-color: #fff;
    color: #aaa;
}

.account-name-container+.tooltip .tooltip-arrow {
    border-right-color: #aaa;
}

.icon-container-postal:after {
    position: absolute;
    display: block;
    content: '';
    background: url('../assets/error_icon.png') no-repeat;
    height: 20px;
    width: 20px;
    right: 83px;
    top: 8px;
}

.success-container:after {
    position: absolute;
    display: block;
    content: '';
    background: url('../assets/ok_green.png') no-repeat;
    height: 20px;
    width: 20px;
    right: 96px;
    top: 8px;
}

.address-box .input-container input[type="checkbox"] {
    margin-top: 0;
}

#enterprise .address-box .addresses-main-label {
    padding-left: 23px;
}

.success-container-postal:after {
    position: absolute;
    display: block;
    content: '';
    background: url('../assets/ok_green.png') no-repeat;
    height: 20px;
    width: 20px;
    right: 83px;
    top: 8px;
}
.errorIcon {
    background: url('../assets/error_icon.png') no-repeat;
    height: 20px;
    display: inline-block;
    background-position: 0 3px;
}
.help-block:before {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-right: 7px solid #D0021B;
    left: -12px;
    top: 18px;
}
.arrow-postal:before {
    left: -112px;
}

header .row h6 strong, label strong {
    font-size: 17px;
}

.col-lg-6.col-lg-offset-2.col-md-6.col-md-offset-2.input-container.card-same {
    margin-top: -20px;
}

.payment-divider {
    margin-top: 15px;
    margin-bottom: 25px;
}

.payment-divider-wrapper {
    position: absolute;
    left: 60px;
    padding: 0;
    right: 60px;
    border-top: 1px solid #d8d8d8;
}

.payment-divider-wrapper span{
    color: #A5A5A5;
    font-size: 16px;
    font-weight: normal;
}
select.form-control {
    padding: 6px 5px;
}

#enterprise h4, #personal h4 {
    font-weight: 700;
    color: #444;
}

.container-fluid {
    background-color: #fff;
    position: relative;
}

#accountDetails {
    padding: 20px 20px 0;
    min-height: calc(100% - 50px);
}

#accountDetails .modal {
    background: rgba(0, 0, 0, 0.3);
}

.wrapper {
    /*padding: 16px 0 0 15px;*/
    position: relative;
}

.header {
    padding: 0 45px;
}

.modal-header {
    padding: 6px 20px 10px;
}

.header h3 {
    color: #A5A5A5;
    font-size: 18px;
}

.divider {
    height: 43px;
    background: url('../assets/line.png') repeat-x center center;
}

.title h3 {
    display: inline-block;
    background-color: #fff;
    padding-right: 10px;
}

.required:after {
    content: '*';
    color: #d3222a;
    font-size: 15px;
    margin-left: 3px;
    position: absolute;
}

.header .title.divider {
    margin-top: 5px;
}
.row.header .title {
    padding-left: 0;
}

.switcher {
    padding-top: 10px;
}

.switcher .nav-tabs {
    position: relative;
    left: calc((66% - 178px) / 2);
    display: inline-block;
}

.submitForm {
    display: block;
    margin-top: 0;
}

.row.header .nav-tabs {
    border: none;   
}

.row.header .nav-tabs .active {
    color: #fff;
    border: none
}

.row.header .nav-tabs .active a {
    background-color: #0D77BF;
    color: #fff;
    border: 1px solid #0D77BF;
}

.row.header .nav-tabs a {
    padding: 3px 15px;
    background-color: #fff;
    border: 1px solid #0D77BF;
    margin: 0;
}

.row.header .nav-tabs li:first-child a, .row.header .nav-tabs li.active:first-child a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.row.header .nav-tabs li:last-child a, .row.header .nav-tabs li.active:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.additionalNumber {
    padding-top: 15px;
}

/* autocomplete */
#enterprise .wrapper .select2-container {
    width: 86% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}

.select2-container .select2-selection--single {
    height: 35px;
    border: 1px solid #cbd5dd;
    padding: 2px 0 0 2px;
}
.container-select2 {
    margin-bottom: 10px;
}
#errormessages.alert-danger {
    background-color: #fff;
    background-image: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -20px;
    box-shadow: none;
}

#errormessages span {
    display: inline-block;
    padding-left: 22px;
}

.alert-danger .errorIcon {
    margin-left: 15px;
}

#corporatePhone:after {
    content: url(assets/image.jpg);
    padding-left: 2px;
}

.addPhone {
    font-weight: 700;
    margin-bottom: 13px;
    display: inline-block;
    text-decoration: none;
}

.addCard {
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    padding-top: 8px;
    margin-bottom: 13px;
}

.addPhone:hover, .addPhone:visited, .addPhone:focus {
    text-decoration: none;
}

/* spinner */
.spinner-container {
    bottom: 0;
    cursor: wait;
    height: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    left: inherit;
    right: 63px;
    top: 0;
    width: 40px;
    z-index: 1001;
    display: none;
}

.spinner {
    animation: 2s linear 0s normal none infinite running rotate-circle;
    display: inline-block;
    font-size: 4rem;
    height: 1em;
    line-height: 1;
    width: 1em;
}

.spinner circle {
    animation: 1.5s linear 0s normal none infinite running stroke-circle;
    fill: transparent;
    stroke: #fff;
    stroke-dasharray: 2.3525em, 0.4705em;
    stroke-linecap: round;
    stroke-width: 0.1em;
}

#nav-container {
    width: 120px;
    z-index: 11;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 1px 0 0;
    background-color: #fafafa;
}

#nav-container ul {
    padding-left: 0;
    list-style: none;
}

#nav>li:first-child>a {
    border-top: 0;
}

#nav>li.active>a {
    color: #3d77f9;
}

#nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    color: #091f28;
}

#nav>li>a i {
    font-size: 32px;
    display: block;
}

#nav>li {
    text-align: center;
}

#nav>li:after {
    content: "";
    display: block;
    border-bottom: 1px #ededed solid;
}

#nav>li:last-child:after {
    content: none;
}

#nav>li.open>a, #nav>li:hover>a {
    background-color: #ededed;
    color: #3d77f9;
}

#nav a:hover {
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
    height: 36px;
    background-color: #3d77fa;
}

.navbar-brand {
    line-height: 20px;
    height: 50px;
    max-width: 90px;
    padding: 15px 8px;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar-form {
    padding: 0;
    margin-top: 7px;
}

.navbar-form .form-group {
    display: inline-block;
}

.navbar-form input {
    background-color: #3358d1;
    border: 1px solid #6581dc;
    color: #fff;
    min-width: 262px;
}

.navbar-form input::-webkit-input-placeholder {
   color: #6581dc;
}

.navbar-form input:-moz-placeholder { /* Firefox 18- */
   color: #6581dc; 
}

.navbar-form input::-moz-placeholder {  /* Firefox 19+ */
   color: #6581dc;  
}

.navbar-form input:-ms-input-placeholder {  
   color: #6581dc; 
}

.btn-link {
    color: #fff;
    padding: 5px 14px 26px 12px;
}

.search {
    margin-top: -12px;
    margin-right: 9px;
}

.btn-link:hover {
    color: #6581dc;
}

.navbar .nav li a {
    color: #fff;
}

.navbar .nav li:hover {
    color: #6581dc;
    background-color: transparent;
}

.navbar .nav li:hover a {
    color: #fff;
    background-color: transparent;
}

.navbar .nav li.active a{
    color: #3d77f9;
    background-color: #fff;
    font-weight: 700;
    padding-right: 22px;
    margin-right: 5px;
}

.nav > li > a {
    padding: 10px 12px;
}

.navbar .nav li.active a:hover {
    color: #3d77f9;
    background-color: #eee;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 31px;
}

.common-select {
    height: 0;
    width: 0;
    position: relative;
}

.common-select .spinner {
    font-size: 3rem;
}

.common-select .spinner circle {
    stroke: #3d77f9;
}

#spinnerAcc {
    left: 11px;
    top: -42px;
}

#spinnerPay {
    left: 62px;
    top: -42px;
}

#spinnerBill{
    top: -43px;
    left: 11px;
}

#spinnerCurr{
    position: absolute;
    top: -41px;
    right: 75%;
}

.currency-container {
    width: 203px;
}

.phone-container {
    position: relative;
    padding-left: 41px;
    padding-right: 23px;
}

.desc-link {
    position: absolute;
    width: 14px;
    height: 15px;
    right: -22px;
    top: 51px;
    cursor: pointer;
}

.phone-container textarea {
    resize: none;
    font-size: 12px;
    margin-top: 8px;
}
.phone-type1, .phone-type2, .phone-type3, .phone-type4 {
    width: 120px;
}

.desc-remove {
    background-image: url('../assets/delete_phone.png');
    position: absolute;
    width: 19px;
    height: 19px;
    right: 65px;
    top: 8px;
    cursor: pointer;
    opacity: 0.7;
}

.desc-remove:hover {
    opacity: 1;
}

.btn.pull-right.cancelForm {
    margin-right: 15px;
    background-color: #fff;
}

.btn.pull-right:last-child {
    margin-right: 20px;
    padding: 7px 46px 10px 45px;
}

.title-label {
    padding-bottom: 16px;
}

.address-label {
    margin-top: 15px;
    padding-bottom: 8px;
}

#credit-card-full {
    color: #aaa;
    cursor: pointer;
}

.margin-0 {
    margin-bottom: 0;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-addresses {
    margin-top: 10px;
}

.the-fieldset.margin-bottom {
    margin-bottom: 37px;
}

.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-right: 0;
}

.taxContainer {
    margin-top: 29px;
}

.phone1, .phone2, .phone3, .phone4 {
    margin-bottom: 7px;
    position: relative;
}

.margin-top-bottom-10 {
    margin: 10px 0;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-30, .title.divider.margin-top-30 {
    margin-top: 11px;
    margin-bottom: 4px;
}

.financial select {
    margin-bottom: 10px;
}

#enterprise .address-box {
    padding-top: 0;
    margin-bottom: 0px;
    padding-left: 38px;
    letter-spacing: 0.1px;
}

.letter-spacing {
    letter-spacing: 0.1px;
}

#BillingAdd select, #BillingAdd input {
    margin-bottom: 10px;
}

#postalCodeBilling, #postalCodeShipping, #postalCodeService, #postalCodePayment {
    width: 120px;
}

#enterprise .address-box label{
    font-weight: normal;
    text-align: left;
    padding-left: 15px;
}

#BillingAdd, #shippingBlockEnterprise, #serviceBlockEnterprise {
    margin-top: 17px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #F8F8F8;
}

.header .title.divider.final-line {
    margin-top: 10px;
}

.same {
    margin-top: 26px;
    margin-bottom: 26px;
}
.same-shipping {
    margin-top: 10px;
    margin-bottom: 26px;
}

#AccountName[disabled] {
    color: #aaa;
    border-color: rgb(203, 213, 221);
    opacity: 1;
    cursor: default;
}

#select2-parentAccount-results .select2-results__option {
    text-align: center;
}

#select2-parentAccount-results .select2-results__option span:first-child {
    float: left;
    padding-left: 20px;
}

#select2-parentAccount-results .select2-results__option span {
    float: none;
    text-align: left;
}

#select2-parentAccount-results .select2-results__option span:last-child {
    float: right;
    padding-right: 20px;
}

.dropdown button, a.btn.btn-default, .dropdown .btn-default:focus {
    color: #000;
    border: 1px solid #a5a5a5;
    background: transparent;
}

.dropdown .glyphicon.glyphicon-cog {
    padding-right: 3px;
    margin-left: -10px;
}

.dropdown .caret {
    margin-right: 11px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #3d77f9;
    background-image: none;
}

.dropdown-menu.additional-options-expanded {
    left: inherit;
    right: 0;
    margin-right: -68px;
}

#additional-options {
    margin-top: 4px;
    padding: 4px 0 2px 10px;
    background-color: #fff;
}

.modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 36px 0 0;
}

.modal-header .close span {
    font-size: 30px;
}

.dropdown-menu > li > a {
    padding: 3px 10px;
}

.dropdown-menu .set-value input {
    margin-right: 10px;
}

.same-checkboxes {
    text-align: right;
    padding-right: 29px;
}
#accountDetails .modal-dialog.modal-lg {
    max-width: 815px;
}

.modal.fade.in {
    overflow-y: hidden;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    padding: 0;
}

.serviceAddress .input-container input[type="checkbox"], .shippingAddress .input-container input[type="checkbox"] {
    margin: 0;
}

.serviceAddress .input-container label, .shippingAddress .input-container label {
    font-weight: normal;
    padding-top: 18px;
}

.col-10 {
    width: 77%;
    margin: auto;
}
@-moz-document url-prefix() { 
    .col-10 {
        width: 78.6%;
        margin: auto;
    }
}

.col-auto-payment-label {
    float: left;
}

#autoPayment {
    margin-left: 5px;
}

.credit-option {
    margin-top: 8px;
}

.credit-option #showCreditCard {
    margin-top: 0;
}

.grey {
    background-color: #F8F8F8;
}
.card-apply {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 3px;
    margin-bottom: 16px;
}
#enterprise .address-shipping {
    margin-bottom: 15px;
}
.financial-divider {
    margin-top: 12px;
}
.сard-box {
    padding-bottom: 10px;
}

.card-cvc {
    padding-right: 27px;
}
.label-cvv {
    margin-left: -34px;
}

.paymentAddress {
    margin-top: 8px;
    margin-bottom: 10px;
}

.cvv-n-date-container input {
    width: 100%;
}

.date-container {
    margin-right: 16px;
}

.address-box.сard-box .col-lg-offset-2:first-child {
    margin-left: 7.7%;
    margin-right: 7%;
}

@media (min-width: 768px){
    #nav-container {
        left: 0;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 13px;
    }
    .dropdown-menu.additional-options-expanded {
        margin-right: -117px;
    }
}

@media (min-width: 992px){
    .the-fieldset {
        margin: 0 -12px 32px -33px;
    }
    .phone-type1, .phone-type2, .phone-type3, .phone-type4 {
        width: 120px;
    }
    .phone-container, #enterprise .сard-box label {
        padding-left: 0;
    }
    .col-9 {
        width: 71.7%;
        margin: auto;
    }
    .col-offset {
        margin-left: 10.7%;
    }
    .dropdown-menu.additional-options-expanded {
        margin-right: -92px;
    }
}

@media (min-width: 1200px){
    #accountDetails {
        padding: 40px 45px 0 180px;
    }
    .container {
        width: 1024px;
    }
    .phone-type1, .phone-type2, .phone-type3, .phone-type4 {
        width: 120px;
    }
    .dropdown-menu.additional-options-expanded {
        margin-right: -69px;
    }
}


@media (min-width: 1501px){
    .col-offset {
        margin-left: 0;
    }
    .the-fieldset {
        margin: 0 -10px 32px -32px;
    }
    label {
        white-space: nowrap;
    }
    .phone-type1, .phone-type2, .phone-type3, .phone-type4 {
        width: 120px;
    }
    .phone-container {
        padding-left: 0;
        padding-right: 0;
    }
    #enterprise .help-block {
        left: 85%;
    }
    .icon-container:after {
        right: 96px;
    }
    #postalCodeBilling-error.help-block, #postalCodeShipping-error.help-block, #postalCodeService-error.help-block, #postalCodePayment-error.help-block {
        left: -3.5%;
    }
    .date-container input, .card-cvc input {
        width: 120px;
    }
    #enterprise .address-box label {
        padding-left: 25px;
    }
    .col-10 {
        width: 76%;
    }
    #autoPayment {
        margin-left: 6px;
    }
    .address-box.сard-box .col-lg-offset-2:first-child {
        margin-left: 1.7%;
    }

}

@media (max-width: 1500px){
    .col-offset {
        margin-left: 0;
    }
    .col-9 {
        width: 72%;
        margin-left: 11%;
    }
    .col-10 {
        width: 82%;
    }
    @-moz-document url-prefix() { 
      .col-10 {
         width: 88.5%;
      }
    }
    .phone1 input, .phone2 input, .phone3 input, .phone4 input {
        width: 75%;
    }
    #enterprise .address-box.сard-box {
        padding-left: 58px;
    }
    #enterprise .address-box {
        padding-left: 50px;
    }
    .account-name-container {
        right: 65px;
    }
    #enterprise .help-block {
        left: 86%;
    }
    .icon-container:after {
        right: 100px;
    }
    #postalCodeBilling-error.help-block, #postalCodeShipping-error.help-block, #postalCodeService-error.help-block, #postalCodePayment-error.help-block {
        left: -2.5%;
    }
    .date-container input, .card-cvc input {
        width: 120px;
    }
}

@media (max-width: 991px){
    /*.wrapper {
        padding: 0 0 0 20px;
    }*/
    .form-horizontal .control-label {
        margin-bottom: 3px;
    }
    .input-container {
        padding-left: 8px;
        padding-right: 36px;
    }
    .the-fieldset {
        margin: 0px -11px 1.5em -34px;
    }
    .col-offset {
        margin-left: 5%;
    }
    .col-9 {
        width: 100%;
    }
    .phone2, .phone3, .phone4 {
        float: none !important;
    }
    .phone-type1, .phone-type2, .phone-type3, .phone-type4 {
        width: 115px;
    }
    .phone1 input, .phone2 input, .phone3 input, .phone4 input {
        width: 58%;
    }
    .phone-container {
        padding-left: 0;
        padding-right: 0;
    }
    .phone1 .input-container, .phone1 .phone-container, .phone2 .input-container, .phone2 .phone-container, .phone3 .input-container, .phone3 .phone-container, .phone4 .input-container, .phone4 .phone-container {
        display: inline;
    }
    #enterprise .address-box, #enterprise .service-box, #enterprise .shipping-box {
        padding-left: 11px;
    }
}

@media (max-width: 767px){
    .divider {
        background: none;
    }
    .switcher .nav-tabs {
        left: 0;
    }
    .col-offset {
        margin-left: 0;
    }
    .col-9 {
        width: 100%;
    }
    .help-block:before {
        position: relative;
        border: 7px solid transparent;
        border-bottom: 7px solid #D0021B;
        left: -7px;
        top: -32px;
    }
    #enterprise .help-block {
        position: relative;
        width: auto;
        left: 15px;
        top: -6px;
    }
}