/* custom css here */

body {
    background-color: #e6e6e6;
}
body label {
    letter-spacing: 0.5px;
}

label {
    margin: 0;
    position: relative;
}

input[type="radio"], input[type="checkbox"] {
    margin: -2px 3px 0 0;
    vertical-align: middle;
}

.input-container input[type="radio"], .input-container  input[type="checkbox"] {
    margin-top: 11px;
    margin-left: 1px;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#accountDetails .modal-header {
    border-bottom: none;
}

#accountDetails .modal-body {
    padding-top: 0;
}

.modal.fade.in {
    display: block;
    overflow-y: scroll;
}

.col-9 {
    width: 46.7%;
}

.col-offset {
    margin-left: 21.7%;
}
.col-md-3 select {
    width: 173px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    opacity: 0.5;
}

.form-group {
    margin-bottom: 0;
    position: relative;
    margin-top: 2px;
}

.input-container {
    padding-left: 31px;
    padding-right: 20px;
}

.form-control {
    display: inline-block;
    margin-bottom: 10px;
    height: 35px;
    width: 99%;
    padding-right: 28px;
}

.btn-primary, .btn-default {
    padding: 7px 19px 8px 20px;
}

/*.required-main {
    right: 80px;
}*/

.phone1 select, .phone1 input, .phone2 select, .phone2 input,.phone3 select, .phone3 input,.phone4 select, .phone4 input {
    margin-bottom: 4px;
}

#enterprise .control-label {
    padding-right: 8px;
    padding-top: 8px;
}

#enterprise .help-block {
    display: block;
    position: absolute;
    background-color: #D0021B;
    color: #fff;
    width: 35%;
    left: 98%;
    padding: 10px 15px;
    top: -6px;
    font-size: 11px;
}

#postalCodeBilling-error.help-block, #postalCodeShipping-error.help-block, #postalCodeService-error.help-block {
    display: block;
    position: relative;
    background-color: #D0021B;
    color: #fff;
    width: 35%;
    left: 1.5%;
    padding: 10px 15px;
    top: 6px;
    font-size: 11px;
}

.postal-container {
    width: 202px;
}

#LastName {
    margin-top: -1px;
}

.checkRow {
    margin: 0 0 10px 0;
}

.icon-container:after {
    position: absolute;
    display: block;
    content: '';
    background: url('../assets/error_icon.png') no-repeat;
    height: 20px;
    width: 20px;
    right: 30px;
    top: 8px;
}

.icon-container-postal:after {
    position: absolute;
    display: block;
    content: '';
    background: url('../assets/error_icon.png') no-repeat;
    height: 20px;
    width: 20px;
    right: 3px;
    top: 8px;
}

.success-container:after {
    position: absolute;
    display: block;
    content: '';
    background: url('../assets/ok_green.png') no-repeat;
    height: 20px;
    width: 20px;
    right: 28px;
    top: 8px;
}

.the-fieldset .icon-container:after, .the-fieldset .success-container:after {
    right: 25px;
}

#enterprise .the-fieldset .help-block{
    left: 99%;
}

.success-container-postal:after {
    position: absolute;
    display: block;
    content: '';
    background: url('../assets/ok_green.png') no-repeat;
    height: 20px;
    width: 20px;
    right: 3px;
    top: 8px;
}
.errorIcon {
    background: url('../assets/error_icon.png') no-repeat;
    height: 20px;
    display: inline-block;
    background-position: 0 3px;
}
.help-block:before {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-right: 7px solid #D0021B;
    left: -12px;
    top: 9px;
}
.arrow-postal:before {
    left: -112px;
}
header .row h6 strong, label strong {
    font-size: 17px;
}

select.form-control {
    padding: 6px 5px;
}

#enterprise h4, #personal h4 {
    font-weight: 700;
    color: #444;
}

.container-fluid {
    background-color: #fff;
    position: relative;
}

#accountDetails {
    padding: 20px 20px 0;
    min-height: calc(100% - 50px);
}

#accountDetails .modal {
    background: rgba(0, 0, 0, 0.3);
}

.wrapper {
    padding: 16px 0 0 15px;
    position: relative;
}

.header {
    padding: 0 15px;
}

.header h3 {
    color: #A5A5A5;
    font-size: 18px;
}

.divider {
    height: 43px;
    background: url('../assets/line.png') repeat-x center center;
}

.title h3 {
    display: inline-block;
    background-color: #fff;
    padding-right: 10px;
}

.required:after {
    content: '*';
    color: #d3222a;
    font-size: 15px;
    margin-left: 3px;
    position: absolute;
}

.header .title.divider {
    margin-top: 5px;
}
.row.header .title {
    padding-left: 0;
}

.switcher {
    padding-top: 10px;
}

.switcher .nav-tabs {
    position: relative;
    left: calc((66% - 178px) / 2);
    display: inline-block;
}

.submitForm {
    display: block;
    padding-top: 0;
    margin-top: 0;
}

.row.header .nav-tabs {
    border: none;   
}

.row.header .nav-tabs .active {
    color: #fff;
    border: none
}

.row.header .nav-tabs .active a {
    background-color: #0D77BF;
    color: #fff;
    border: 1px solid #0D77BF;
}

.row.header .nav-tabs a {
    padding: 3px 15px;
    background-color: #fff;
    border: 1px solid #0D77BF;
    margin: 0;
}

.row.header .nav-tabs li:first-child a, .row.header .nav-tabs li.active:first-child a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.row.header .nav-tabs li:last-child a, .row.header .nav-tabs li.active:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.additionalNumber {
    padding-top: 15px;
}

/* autocomplete */
#enterprise .wrapper .select2-container {
    width: 99% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}

.select2-container .select2-selection--single {
    height: 35px;
    border: 1px solid #cbd5dd;
    padding: 2px 0 0 2px;
}
.container-select2 {
    margin-bottom: 10px;
}
#errormessages.alert-danger {
    background-color: #fff;
    background-image: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -20px;
    box-shadow: none;
}

#errormessages span {
    display: inline-block;
    padding-left: 22px;
}

.alert-danger .errorIcon {
    margin-left: 15px;
}

#corporatePhone:after {
    content: url(assets/image.jpg);
    padding-left: 2px;
}

.addPhone {
    font-weight: 700;
    margin-bottom: 13px;
    display: inline-block;
    text-decoration: none;
    padding-left: 5px;
}

.addCard {
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    padding-top: 8px;
    margin-bottom: 13px;
}

.addPhone:hover, .addPhone:visited, .addPhone:focus {
    text-decoration: none;
}

/* spinner */
.spinner-container {
    bottom: 0;
    cursor: wait;
    height: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    left: inherit;
    right: 80px;
    top: 0;
    width: 40px;
    z-index: 1001;
    display: none;
}

.spinner {
    animation: 2s linear 0s normal none infinite running rotate-circle;
    display: inline-block;
    font-size: 4rem;
    height: 1em;
    line-height: 1;
    width: 1em;
}

.spinner circle {
    animation: 1.5s linear 0s normal none infinite running stroke-circle;
    fill: transparent;
    stroke: #fff;
    stroke-dasharray: 2.3525em, 0.4705em;
    stroke-linecap: round;
    stroke-width: 0.1em;
}

#nav-container {
    width: 120px;
    z-index: 11;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 1px 0 0;
    background-color: #fafafa;
}

#nav-container ul {
    padding-left: 0;
    list-style: none;
}

#nav>li:first-child>a {
    border-top: 0;
}

#nav>li.active>a {
    color: #3d77f9;
}

#nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    color: #091f28;
}

#nav>li>a i {
    font-size: 32px;
    display: block;
}

#nav>li {
    text-align: center;
}

#nav>li:after {
    content: "";
    display: block;
    border-bottom: 1px #ededed solid;
}

#nav>li:last-child:after {
    content: none;
}

#nav>li.open>a, #nav>li:hover>a {
    background-color: #ededed;
    color: #3d77f9;
}

#nav a:hover {
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
    height: 36px;
    background-color: #3d77fa;
}

.navbar-brand {
    line-height: 20px;
    height: 50px;
    max-width: 90px;
    padding: 15px 8px;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar-form {
    padding: 0;
}

.navbar-form .form-group {
    display: inline-block;
}

.navbar-form input {
    background-color: #3358d1;
    border: 1px solid #6581dc;
    color: #fff;
    min-width: 262px;
}

.navbar-form input::-webkit-input-placeholder {
   color: #6581dc;
}

.navbar-form input:-moz-placeholder { /* Firefox 18- */
   color: #6581dc; 
}

.navbar-form input::-moz-placeholder {  /* Firefox 19+ */
   color: #6581dc;  
}

.navbar-form input:-ms-input-placeholder {  
   color: #6581dc; 
}

.btn-link {
    color: #fff;
    padding: 5px 14px 26px 12px;
}

.search {
    margin-top: -4px;
    margin-right: 9px;
}

.btn-link:hover {
    color: #6581dc;
}

.navbar .nav li a {
    color: #fff;
}

.navbar .nav li:hover {
    color: #6581dc;
    background-color: transparent;
}

.navbar .nav li:hover a {
    color: #fff;
    background-color: transparent;
}

.navbar .nav li.active a{
    color: #3d77f9;
    background-color: #fff;
    font-weight: 700;
    padding-right: 22px;
    margin-right: 5px;
}

.nav > li > a {
    padding: 10px 12px;
}

.navbar .nav li.active a:hover {
    color: #3d77f9;
    background-color: #eee;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 31px;
}

.common-select {
    height: 0;
    width: 0;
    position: relative;
}

.common-select .spinner {
    font-size: 3rem;
}

.common-select .spinner circle {
    stroke: #3d77f9;
}

#spinnerAcc {
    left: 61px;
    top: -43px;
}

#spinnerPay {
    left: 62px;
    top: -42px;
}

#spinnerBill{
    top: -43px;
    left: 63px;
}

#spinnerCurr{
    position: absolute;
    top: -41px;
    right: 50%;
}

.currency-container {
    width: 203px;
}

.phone-container {
    position: relative;
    padding-left: 41px;
    padding-right: 23px;
}

.desc-link {
    position: absolute;
    width: 14px;
    height: 15px;
    right: -22px;
    top: 51px;
    cursor: pointer;
}

.phone-container textarea {
    resize: none;
    font-size: 12px;
    margin-top: 8px;
}
.phone-type1, .phone-type2, .phone-type3, .phone-type4 {
    width: 172px;
}

.desc-remove {
    background-image: url('../assets/delete_phone.png');
    position: absolute;
    width: 19px;
    height: 19px;
    right: -7px;
    top: 8px;
    cursor: pointer;
}

.btn.pull-right:first-child {
    margin-right: 0;
}

.btn.pull-right:last-child {
    margin-right: 20px;
    padding: 7px 46px 10px 45px;
}

.the-legend {
        font-size: 0.9em;
        color: #A5A5A5;
        text-align: left;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
        margin-bottom: 0;
        (-bracket-:hack;
            margin-bottom: -10px;
        );
}

.the-fieldset {
    border: 1px dashed #A5A5A5;
    padding: 10px 15px 0px 34px;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
.the-fieldset:last-child {
    margin-bottom: 35px;
}

.the-fieldset input {
    width: 100%;
}

.margin-0 {
    margin-bottom: 0;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-addresses {
    margin-top: 10px;
}

.the-fieldset.margin-bottom {
    margin-bottom: 37px;
}

.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-right: 0;
}

.taxContainer {
    margin-top: 29px;
}

.phone1, .phone2, .phone3, .phone4 {
    margin-bottom: 7px;
    position: relative;
}

.margin-top-bottom-10 {
    margin: 10px 0;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-30, .title.divider.margin-top-30 {
    margin-top: 10px;
}

.financial select {
    margin-bottom: 10px;
}

#enterprise .address-box {
    padding-top: 0;
    margin-bottom: 0px;
    padding-left: 2px;
    letter-spacing: 0.1px;
}

.letter-spacing {
    letter-spacing: 0.1px;
}

#BillingAdd select, #BillingAdd input {
    margin-bottom: 10px;
}

#postalCodeBilling, #postalCodeShipping, #postalCodeService {
    width: 172px;
}

.service-box {
    padding-left: 2px; 
    margin-top: 11px;
    letter-spacing: 0.1px;
}

.shipping-box {
    padding-left: 2px; 
    margin-top: 11px;
    letter-spacing: 0.1px;
}

.address-box, .shipping-box, .service-box, .same, .same-shipping {
    font-weight: normal;
}

.header .title.divider.final-line {
    margin-top: 10px;
}

.same {
    margin-top: 26px;
    margin-bottom: 26px;
}
.same-shipping {
    margin-top: 10px;
    margin-bottom: 26px;
}

#AccountName[disabled] {
    color: #aaa;
    background-color: #fff;
    border-color: rgb(203, 213, 221);
    opacity: 1;
    cursor: default;
}

#select2-parentAccount-results .select2-results__option {
    text-align: center;
}

#select2-parentAccount-results .select2-results__option span:first-child {
    float: left;
    padding-left: 20px;
}

#select2-parentAccount-results .select2-results__option span {
    float: none;
    text-align: left;
}

#select2-parentAccount-results .select2-results__option span:last-child {
    float: right;
    padding-right: 20px;
}

.dropdown button, a.btn.btn-default, .dropdown .btn-default:focus {
    color: #3d77f9;
    border: 1px solid #3d77f9;
    background: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #3d77f9;
    background-image: none;
}

.dropdown-menu.additional-options-expanded {
    left: inherit;
    right: 0;
}

.dropdown-menu > li > a {
    padding: 3px 10px;
}

.dropdown-menu .set-value input {
    margin-right: 10px;
}

.same-checkboxes {
    text-align: right;
    padding-right: 25px;
}

@media (min-width: 768px){
    #nav-container {
        left: 0;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 13px;
    }
}

@media (min-width: 992px){
    .the-fieldset {
        margin: 0 -12px 32px -33px;
    }
    .phone-type1, .phone-type2, .phone-type3, .phone-type4 {
        width: 130px;
    }
    .phone-container {
        padding-left: 20px;
    }
}

@media (min-width: 1200px){
    #accountDetails {
        padding: 40px 45px 0 180px;
    }
    .container {
        width: 1024px;
    }
    .col-offset {
        margin-left: 10.7%;
    }
    .col-9 {
        width: 71.7%;
    }
    .phone-type1, .phone-type2, .phone-type3, .phone-type4 {
        width: 150px;
    }
    .phone-container {
        padding-left: 30px;
    }
}


@media (min-width: 1501px){
    .col-offset {
        margin-left: 0;
    }
    .col-9 {
        width: 88%;
    }
    .the-fieldset {
        margin: 0 -10px 32px -32px;
    }
    label {
        white-space: nowrap;
    }
    .phone-type1, .phone-type2, .phone-type3, .phone-type4 {
        width: 172px;
    }
    .phone-container {
        padding-left: 46px;
    }
}

@media (max-width: 1500px){
    .col-offset {
        margin-left: 16.7%;
    }
    .col-9 {
        width: 60.7%;
    }
}

@media (max-width: 991px){
    .wrapper {
        padding: 0 0 0 20px;
    }
    .form-horizontal .control-label {
        margin-bottom: 3px;
    }
    .input-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .the-fieldset {
        margin: 0px -11px 1.5em -34px;
    }
}

@media (max-width: 767px){
    .divider {
        background: none;
    }
    .switcher .nav-tabs {
        left: 0;
    }
    .col-offset {
        margin-left: 0;
    }
    .col-9 {
        width: 100%;
    }
    .help-block:before {
        position: relative;
        border: 7px solid transparent;
        border-bottom: 7px solid #D0021B;
        left: -7px;
        top: -32px;
    }
    #enterprise .help-block {
        position: relative;
        width: auto;
        left: 15px;
        top: -6px;
    }
}