/* Native elements */
body {
    background-color: #fff;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body label {
    font-weight: normal;
    text-align: right;
    padding-top: 6px;
    color: #999;
}

label {
    margin: 0;
    position: relative;
}

input[type="radio"], input[type="checkbox"] {
    margin: -2px 3px 0 0;
    vertical-align: middle;
}

section {
    margin-top: 10px;
}

.col-5 {
    width: 45%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.col-7 {
    width: 55%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.account-header h3 {
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 14px;
    font-weight: 700;
    color: #A2A2A2;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.account-header h3:after {
    float: left;
    content: '';
    display: inline-block;
    height: 1px;
    background-color: #999;
    width: 100%;
    position: absolute;
    top: 7px;
    z-index: 8;
}
.section-title h3 span {
    z-index: 9;
    background-color: #fff;
    padding-right: 9px;
}

h1 {
    font-size: 27px;
    margin-top: 26px;
    font-weight: 400;
}
.products-modals {
    font-size: 13px;
}

.form-control {
    height: 30px;
    width: 98.5%;
}

.form-group {
    margin-bottom: 10px;
}

.required:after {
    content: '*';
    color: #d3222a;
    font-size: 15px;
    margin-left: 3px;
    position: absolute;
}

.divider {
    height: 43px;
    background: url('../assets/line.png') repeat-x center center;
}

.divider h5{
    display: inline-block;
    background-color: #fff;
    padding-right: 10px;
    font-weight: bold;
    margin-top: 12px;
}

#agreement-tab .divider {
    padding-left: 0;
    margin-left: 10px;
    margin-right: -10px;
}
.long-label {
    padding-left: 10px;
    padding-top: 0;
}
#agreement-tab .radio-group-label, #service-custom-tab .radio-group-label {
    margin-left: 3px;
}
#agreement-tab .input-container {
    padding-left: 11px;
}
.header .col-md-2 {
    padding-top: 6px;
}

#agreement-tab .header .col-md-2 a{
    padding: 4px 18px 3px 18px;
    color: #AAA4A8;
    border: 1px solid #AAA4A8;
}

/* Aside and top menu */
.row.header .nav-tabs {
    border: none;   
}

.row.header .nav-tabs .active {
    color: #fff;
    border: none
}

.row.header .nav-tabs .active a {
    background-color: #0D77BF;
    color: #fff;
    border: 1px solid #0D77BF;
}

.row.header .nav-tabs a {
    padding: 3px 15px;
    background-color: #fff;
    border: 1px solid #0D77BF;
    margin: 0;
}

.row.header .nav-tabs li:first-child a, .row.header .nav-tabs li.active:first-child a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.row.header .nav-tabs li:last-child a, .row.header .nav-tabs li.active:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#nav-container {
    width: 120px;
    z-index: 11;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    left: 0;
    margin: 1px 0 0;
    background-color: #fafafa;
}

#nav-container ul {
    padding-left: 0;
    list-style: none;
}

#nav>li:first-child>a {
    border-top: 0;
}

#nav>li.active>a {
    color: #3d77f9;
}

#nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    color: #091f28;
}

#nav>li>a i {
    font-size: 32px;
    display: block;
}

#nav>li {
    text-align: center;
}

#nav>li:after {
    content: "";
    display: block;
    border-bottom: 1px #ededed solid;
}

#nav>li:last-child:after {
    content: none;
}

#nav>li.open>a, #nav>li:hover>a {
    background-color: #ededed;
    color: #3d77f9;
}

#nav a:hover {
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
    height: 36px;
    background-color: #3d77fa;
}

.navbar-brand {
    line-height: 20px;
    height: 50px;
    max-width: 90px;
    padding: 15px 8px;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar-form {
    padding: 0;
}

.navbar-form .form-group {
    display: inline-block;
}

.navbar-form input {
    background-color: #3358d1;
    border: 1px solid #6581dc;
    color: #fff;
    min-width: 262px;
}

.navbar-form input::-webkit-input-placeholder {
   color: #6581dc;
}

.navbar-form input:-moz-placeholder { /* Firefox 18- */
   color: #6581dc; 
}

.navbar-form input::-moz-placeholder {  /* Firefox 19+ */
   color: #6581dc;  
}

.navbar-form input:-ms-input-placeholder {  
   color: #6581dc; 
}

.btn-link {
    color: #fff;
    padding: 4px 14px 14px 12px;
}

.search {
    margin-top: -8px;
    margin-right: 9px;
}

.btn-link:hover {
    color: #6581dc;
}

.navbar .nav li a {
    color: #fff;
}

.navbar .nav li:hover {
    color: #6581dc;
    background-color: transparent;
}

.navbar .nav li:hover a {
    color: #fff;
    background-color: transparent;
}

.navbar .nav li.active a{
    color: #3d77f9;
    background-color: #fff;
    font-weight: 700;
    padding-right: 22px;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 13px;
}

.nav > li > a {
    padding: 10px 12px;
}

.navbar .nav li.active a:hover {
    color: #3d77f9;
    background-color: #eee;
}

/* page */
.container-fluid {
    position: relative;
}

#account {
    padding: 0px 15px 0 122px;
    height: 100%;
}

.account-header {
    padding-bottom: 20px;
    padding-top: 10px;
}

.account-header .dropdown {
    background: transparent;
}

.account-header .dropdown-menu {
    right: 0;
}

.account-header .dropdown-menu input {
    padding-right: 5px;
}

.account-header .dropdown button, a.btn.btn-default {
    color: #3d77f9;
    border: 1px solid #3d77f9;
    background: transparent;
}

.account-header .col-md-6.padding-content {
    padding-right: 39px;
    padding-left: 33px;
    padding-top: 8px;
    font-size: 13px;
}

.account-header dt {
    margin-bottom: 4px;
}
.additional-fields-wrapper {
    padding-top: 6px;
}
.additional-fields-wrapper .col-3 {
    float: left;
    width: 29%;
}
.additional-fields-wrapper .input-group.date .input-group-addon {
    padding: 8px 9px;
    background-color: #fff;
}
.additional-fields-wrapper .date-icon {
    top: 5px;
}
#account-address, #account-address-general {
    line-height: 1.6;
}

.account-header.padding-content .btn.btn-default.change-account{
    margin-left: 11px;
    padding: 5px 13px;
    border: #999;
    color: #999;
}

.dropdown-menu > li > a {
    padding: 3px 10px;
    white-space: normal;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #3d77f9;
    background-image: none;
}

.dropdown .glyphicon.glyphicon-cog {
    padding-right: 1px;
}

.dropdown .caret {
    margin-left: 10px;
}

.section-title .dropdown .caret {
    margin-left: 2px;
}

#additional-options {
    margin-top: -5px;
    font-size: 13px;
}

.input-group.date {
    padding-bottom: 10px;
}

.date-icon {
    background-image: url('../assets/calendar.png'); 
    position: absolute;
    width: 18px;
    height: 20px;
    top: 8px;
    cursor: pointer;
    opacity: 0.7;
    display: block;
}
.date-icon:hover {
    opacity: 1;
}
.products-modals .date-icon {
    position: relative;
}

.account-header .dropdown {
    margin-top: 10px;
}

.section-title .dropdown {
    margin-left: 17px;
}

.order-table {
    margin-top: 20px;
}

.order-table table tr td {
    border-bottom: 2px solid #ddd;
}

.order-table table tr td:last-child span {
    font-size: 20px;
    color: #00f;
    padding-left: 22px;
    cursor: pointer;
}

.order-table table tr td:last-child span:last-child {
    font-size: 20px;
    color: #00f;
}

.order-table table tr td input {
    width: 50%;
}

.input-group.date .input-group-addon {
    background-color: #F8F8F8;
    border: none;
    text-align: left;
    padding: 8px 12px;
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
    margin-top: 7px;
    margin-left: 14px;
}

#date {
    max-width: 165px;
}

.table > thead > tr {
    background: #fff;
}

.tt-menu {
    width: auto;
    min-width: 200px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
}

.tt-suggestion:hover {
    color: #fff;
    background-color: #3d77f9;
    cursor: pointer;

}

.tt-suggestion p {
    margin: 0;
}
.typeahead.tt-input {
    display: block;
    min-width: 200px;
    padding: 4px;
}
.product-select-browse, .product-select-cancel {
    display: inline-block;
}

#product-select {
    padding: 15px 0;
    border-bottom: 2px solid #ddd;;
}
.bottom-buttons {
    margin-top: 15px;
}

.padding-content {
    padding-left: 40px;
    padding-right: 40px;
}

/* select2 */
.account-edit .select2-container {
    width: 50% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}

.select2-container .select2-container--default {
    height: 35px;
    border: 1px solid #cbd5dd;
    padding: 2px 0 0 2px;
}
.container-select2 {
    margin-bottom: 18px;
}

.account-edit {
    display: inline;
}
#product-select .select2.select2-container{
    width: 20% !important;
    min-width: 180px !important;
}
#product-select .select2.select2-container b{
    display: none;
}

/* popups styling */

.popover {
    width: auto;
    padding: 10px 20px;
}

/* popups styling end*/

/* modals */
.products-modals .modal-dialog.modal-lg, .browse-product-modal .modal-dialog.modal-lg {
    max-width: 800px;
}

.products-modals .modal-dialog.modal-lg .side-content.col-md-3, .browse-product-modal .modal-dialog.modal-lg .side-content.col-md-3  {
    max-width: 200px;
    padding-left: 0;
    padding-right: 0;
}

.products-modals .modal-dialog.modal-lg .tab-content.col-md-9, .browse-product-modal .modal-dialog.modal-lg .browse-content.col-md-9 {
    max-width: 600px;
}
.products-modals .modal-header {
    padding: 19px;
}
.products-modals .nav > li > a {
    padding: 10px 12px 11px 12px;
}
.products-modals .close span, .browse-product-modal .close {
    font-size: 32px;
    padding-right: 4px;
}
 
.products-modals .modal-body, .browse-product-modal .modal-body {
    padding: 0 15px;
}
.products-modals .modal-header, .products-modals .modal-footer {
    background-color: #F8F8F8;
}

.products-modals .side-content {
    float: left;
}
.products-modals .tab-content label {
    margin-left: 15px;
    margin-right: -13px; 
}

.products-modals .nav-tabs > li {
    float: none;
}

#agreement-date {
    margin: -2px 3px 0 4px;
}

.products-modals #one-time-tab .table > thead > tr > th, .products-modals #one-time-tab .table > tbody > tr > td, .products-modals #recurring-tab .table > thead > tr > th, .products-modals #recurring-tab .table > tbody > tr > td {
    border: none;
}

.products-modals #one-time-tab .table > thead > tr > th, .products-modals #recurring-tab .table > thead > tr > th, .schedule a {
    padding-left: 22px;
}

.schedule a {
    font-weight: bold;
}

.products-modals #activity-charge-tab .table > tr > td {
    text-align: left;
}

/*.products-modals #activity-charge-tab .table > thead > tr > td:first-child {
    padding-left: 15px;
}*/

/*.products-modals .table > thead > tr > td {
    padding-left: 20px;
}*/

.products-modals .tab-content {
    padding: 30px 27px 0px 24px;
}

.products-modals .modal-footer {
    clear: both;
}

.right-caret {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #000000;
    position: absolute;
    right: 9px;
    top: 14px;
}

.side-divider {
    background-color: #E3E3E3;
    padding: 3px 8px 3px 25px;
    width: 100%;
    color: #B8B8B8;
}

.side-divider:first-child {
    color: #D53B4E;
}

.products-modals .nav-tabs > li > a {
    background-color: #F8F8F8;
    color: #000;
    font-size: 13px;
    margin-right: 0;
}

#postal-code {
    width: 75px;
}

.nav-tabs > li > a:hover {
    color: #fff;
    background-color: #4A90E2; 
}

.nav-tabs > li > a:hover .right-caret, .nav-tabs > li.active > a .right-caret {
    border-left: 5px solid #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #4A90E2; 
}

.modal-configured {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 50%;
    margin-top: 1px;
}
.modal-configured.modal-configured-true {
    border: none;
    background: url('../assets/configured_ok.png') no-repeat;
}

.modal-footer .glyphicon-chevron-left, .modal-footer .glyphicon-chevron-right {
    font-size: 20px;
}

.products-modals .modal-footer .arrows a {
    border-color: #B8B8B8;
    color: #B8B8B8;
    width: 50%;
}

.products-modals .modal-footer .arrows a:first-child {
    float: left;
}
.modal-footer .arrows .btn + .btn {
    margin-left: 0;
}

.products-modals .modal-footer .btn-default, .browse-product-modal .modal-footer .btn-default {
    background-color: #fff;
}

.modal-product-title, .modal-browse-title {
    font-size: 18px;
    padding-right: 5px;
    letter-spacing: 0;
}
.modal-product-description, .service-label {
    color: #BFBFBF;
}

#agreement-tab {
    padding: 7px;
}
#agreement-tab .agreement-group label {
    margin-left: 5px;
}
#agreement-tab .agreement-block .form-group {
    margin-bottom: 4px;
}

.desc-remove {
    background-image: url('../assets/delete_phone.png');
    position: absolute;
    width: 19px;
    height: 19px;
    cursor: pointer;
    opacity: 0.7;
    margin-top: 7px;
    margin-left: 7px;
}

.desc-remove:hover {
    opacity: 1;
}

.tab-pane table td {
    border-bottom: 1px solid #ddd;
}
    
#one-time-tab .table > thead > tr > th, #one-time-tab .table > tbody > tr > td, #recurring-tab .table > thead > tr > th, #recurring-tab .table > tbody > tr > td {
    padding: 8px 0 10px 7px;
}
#one-time-tab .table > thead > tr > th, #recurring-tab .table > thead > tr > th {
    padding-bottom: 0px;
}

.modal-date-one-time input, .modal-date-recurring-time input, .agreement-date input {
    float: left;
    width: 67%;
}
.modal-date-one-time .input-group-addon, .modal-date-recurring-time .input-group-addon, .agreement-date span {
    width: auto;
    padding: 6px 12px 5px 12px;
}
.new-activity {
    font-weight: bold;
    padding: 10px;
}
.service-content {
    padding-top: 7px;
    padding-left: 5px;
    font-size: 13px;
}

#one-time-tab, #recurring-tab {
    font-size: 13px;
}
.subscription-title {
    padding: 7px 0 10px 19px;
}
#subscription-tab a.btn.btn-default {
    color: #AAA4A8;
    border: 1px solid #AAA4A8;
    width: 98.5%;
    padding: 4px 12px;
}
#subscription-tab .desc-remove {
    margin-top: 6px;
    margin-left: -9px;
}
.stick-container-left {
    padding-right: 0;
}
.stick-container-left .form-control {
    width: 100%;
}
.stick-container-right {
    padding-left: 0;
}
.stick-container-right a {
    padding: 4px 12px;
    width: 100%;
}
#trial-period-tab label {
    padding-left: 30px;
}

#trial-period-tab .form-group.row {
    padding-top: 14px;
}

#description-tab a {
    padding-top: 10px;
    color: #AAA4A8;
    border: 1px solid #AAA4A8;
}
#trial-period-tab a{
    color: #AAA4A8;
    border: 1px solid #AAA4A8;
}
#description-tab .col-md-2 {
    padding-top: 10px;
}

/*#one-time-tab table, #recurring-tab table {
    margin-bottom: 20px;
}*/

.agreement-block {
    padding-bottom: 18px;
    padding-top: 10px;
}
.row.header {
    padding-bottom: 6px;
}

.custom-label span {
    padding-left: 15px;
    display: block;
    color: #B8B8B8;
}

.agreement-date .date-icon {
    position: absolute;
}

.active-icon {
    color: #6EAD00;
    border: 1px solid #6EAD00;
    font-size: 10px;
    padding: 2px 9px;
    font-weight: bold;
    letter-spacing: 1px;
}

#activity-charge-tab .dropdown-menu {
    right: 0;
    left: inherit;
    min-width: 110px;
}

#activity-charge-tab .table tr td:last-child{
    text-align: center;
}

.charge-actions {
    font-weight: bold;
}

.charge-actions, .charge-actions:active, .charge-actions:hover {
    text-decoration: none;
}
.browse-product-modal .modal-header {
    padding: 0;
}
.browse-product-modal .modal-header, .browse-product-modal .modal-footer {
    background-color: #F8F8F8;
}

.padding-18-container {
    padding: 18px;
}

.browse-product-modal .nav-tabs > li > a {
    margin-right: 0;
}

.browse-product-modal .modal-header .nav li {
    width: 50%;
    text-align: center;
}

.browse-product-modal .modal-header .nav li {
    background-color: #E7E7E7;
}

.browse-product-modal {
    font-size: 11px;
    letter-spacing: 1px;
}
.browse-product-modal .modal-header .nav li a {
    color: #736666;
    
}
.browse-product-modal .nav-tabs li a {
    padding: 6px 9px;
}
.browse-product-modal .modal-header .nav li.active a, .browse-product-modal .modal-header .nav li a:hover {
    color: #fff;
}
.browse-product-modal .side-content {
    background-color: #F3F3F3;
}
.browse-product-modal .side-divider:first-child {
    color: #999;
}
.browse-product-modal .side-divider {
    padding: 5px 15px 12px 15px;
}
.browse-product-modal .side-content .form-group {
    padding: 0 15px;
}

.browse-product-modal .side-content .clear-filter.form-group  {
    padding-top: 10px;
}

.browse-product-modal .side-content .clear-filter a {
    width: 98.5%;
    background-color: #fff;
    color: #000;
    border: 1px solid #AAA4A8;
    font-size: 11px;
    letter-spacing: 0.4px;
}
#catalog-tab tr, #selected-products-tab tr {
    font-size: 13px;
    letter-spacing: 0;
}
.table > thead > .browse-heading {
    background-color: #E9EFF4;
}
.browse-product-modal .table dl {
    margin-bottom: 0;
}
.browse-content.col-md-9 {
    padding: 27px 30px;
    background-color: #fff;
}
.selection-container .selection-plus, .selection-container .selection-minus {
    background-color: #F8F8F8;
    border: 1px solid #999;
    color: #000;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.selection-container .glyphicon {
    font-size: 12px;
    left: -3px;
}

.selection-container .selection-plus {
    margin-right: 10px;
}

.selection-container .selection-minus {
    margin-left: 12px;
    margin-right: 3px;
}
.padding-5 {
    padding: 5px 0;
}
#catalog-tab .selection-vertical, #selected-products-tab .selection-vertical {
    vertical-align: middle;
}
.browse-product-modal .modal-content {
    background-color: #F3F3F3;
}
.padding-30 {
    padding: 30px;
}
#selected-products-tab {
    background-color: #fff;
}
.selection-vertical input {
    width: 50%;
}
.selection-vertical .desc-remove {
    margin-top: 4px;
    margin-left: 15px;
}
.browse-content.col-md-9 tr th:last-child, .browse-content.col-md-9 tr td:last-child {
    text-align: right;
}
.modal-footer a {
    letter-spacing: 0;
}
.modal-footer a.btn.btn-default {
    color: #000;
    border: 1px solid #e5e5e5;
}
/* modals end*/ 

/* Configuration Pop-up */
.popover-content {
    padding: 0;
}
.popover .popover-content .product-configuration-popup .product-optional-configuration {
    margin-bottom: 5px;
}
.popover .popover-content .product-configuration-popup .product-required-configuration dt, .popover .popover-content .product-configuration-popup .product-optional-configuration dt {
    padding-bottom: 5px;
    font-size: 12px;
    color: #999;
}
.popover .popover-content .product-configuration-popup .product-required-configuration dd, .popover .popover-content .product-configuration-popup .product-optional-configuration dd {
    font-size: 12px;
    color: #3d77f9;
}
.product-configuration-popup dd {
    margin-left: 20px;
    margin-top: -5px;
}
.validation-signature {
    padding-left: 0 !important;
}
.validation-signature {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -17px;
    bottom: -14px;
}
.validation-signature.valid {
    background-color: #417505;
    border: 2px solid #fff;
}
.validation-signature.invalid {
    background-color: #fff;
    border: 2px solid #D0021B;
}
.validation-signature.default {
    background-color: #fff;
    border: 2px solid #999;
}

/* Configuration Pop-up end*/